body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;
}

.container {
    margin: 0px 166px;
}

.header {
    background-image: url(img/header/main.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;

    margin-right: 25px;
    transition: .2s;
}
.nav_item:hover {
    color: #FF7400;
}

.cart {
    position: relative;
    height: 50px;
    border-right: 1px solid #fff;
    padding-right: 10px;
}
.cart_img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: .2s;
}
.num:hover {
    color: #FF7400;
}
.phone_text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone_holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: .2s;
}
.button:hover {
    background-color: #cc5e04;
}




.header_down {
    position: relative;
}
.header_title {
    position: absolute;
    left: 0;
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;

    margin-top: 222px;
    margin-bottom: 12px;
}
.header_suptitle {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.header_suptitle::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 126px;
}
.header_suptitle::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 376px;
}

.header_button {
    background-color: #FF7400;
    color: #fff;
    padding: 14px 28px;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;

    transition: .2s;
}
.header_button:hover {
    background-color: #cc5e04;
}

/* cards------------------------------ */

.card_holder {
    display: flex;
    justify-content: center;
}
.card {
    margin-right: 31px;
    background-color: #fff;
    width: 349px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    margin-top: -80px;
    padding: 10px 10px;
}
.card_image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}
.card_title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    font-size: 26px;
}
.card_title span {
    color: #BC9060;
}
.card_desc {
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 26px;
    color: #656363;
}

/* history */

.history {
    margin-top: 166px;
    padding-bottom: 200px;
}

.history_holder {
    display: flex;
    justify-content: space-between;
}

.history_title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    width: 444px;
    margin-top: 21px;
}

.history_title span {
    color: #BC9060;
}

.history_desc {
    color: #656363;
    width: 444px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

.history_number {
    display: flex;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;


}
.number_item {
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #BC9060;
    font-family: 'Open Sans', sans-serif;

}
.number_item span {
    display: block;
    color: #000;
}

/* black */

.black_block {
    padding: 80px 0px;
    background-image: url(img/black/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.block_holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_title {
    font-family: 'Tinos', serif;
    font-size: 52px;
    margin-bottom: 20px;
    color: #D67E34;
}
.left_text {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.right_btn {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: .2s;
}

/* dishes */

.dishes_title {
    padding-top: 132px;
    padding-bottom: 132px;
    font-size: 54px;
    font-family: 'Tinos', serif;
    text-align: center;
}
.dishes_title span {
    color: #D67E34;
}

/* burgers */

.burgers {
    display: flex;
    justify-content: center;
}

.burgers_image {
    margin-right: 20px;
}
.burger_item {
    display: flex;
    margin-bottom: 29px;
    align-items: center;

}

.burger_text {
    font-family: 'Tinos', serif;
    margin-left: 27px;
    font-size: 22px;
}

/* menu */

.menu {
    background-image: url(img/menu/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.menu_title {
    font-size: 54px;
    font-family: 'Tinos', serif;
    padding-top: 98px;
    padding-bottom: 38px;
    color: #fff;
    text-align: center;
}
.menu_items {
    display: flex;
    justify-content: center;
}
.menu_item {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-right: 20px;
}

.menu_text {
    font-size: 26px;
    font-family: 'Tinos', serif;
    padding-top: 16px;
    padding-bottom: 16px;
}

.menu_subtext {
    padding-bottom: 17px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.menu_btn {
    background-color: #D67E34;
    text-decoration: none;
    padding: 14px 67px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.menu_button {
    margin-top: 20px;
}

.menu_image {
    position: relative;
}

.price_image {
    position: absolute;
    bottom: 0;
    right: 72px;
    border: 50%;
    background-color: #D67E34;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid #fff;

    display: flex;
    align-items: center;
    justify-content: center;

}

.cost {
    color: #fff;
    font-size: 30px;
}

/* comment */

.comment {
    background-color: #E5E5E5;
    padding: 104px 139px;
}

.comment_image {
    text-align: center;
}

.comment_text {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.comment_type {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.comment_name {
    padding-top: 9px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/* gallery */

.gallery {

}

.gallery_title {
    text-align: center;
    padding: 101px 0 60px 0;
}

.gallery_content {
    display: flex;
    justify-content: center;
}

.gallery_title {
    font-family: 'Tinos', serif;
    font-size: 54px;
}

.gallery_title span {
    color: #D67E34;
}

.gallery_left {
    margin-right: 20px;
}

.gallery_down, .gallery_up {
    display: flex;
    justify-content: space-between;
}
.gallery_up {
    margin-bottom: 20px;
}

/* cook */

.cook_content {
    display: flex;
    justify-content: space-around;
}


/* footer */


.footer {
    margin-top: 50px;

    background-image: url(img/footer/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 50vh;
}

.footer_text {
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding-top: 15%;
}




@media (max-width: 1500px) {
    .gallery_content {
        display: block;
    }
    .gallery_up, .gallery_down {
        display: block;
    }
}