body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tinos', serif;
}

/*  adaptive image */

.img {
    /* height: auto;
    width: 100%; */
    /* max-width: 720px; */
}


.container {
    margin: 0 auto;
    max-width: 1110px;
}

.main_title {
    font-size: 54px;
    padding: 130px 0;
    text-align: center;
}

.gold {
    color: #BC9060;
}

.button {
    background-color: #FF7400;
    padding: 14px 18px;
    cursor: pointer;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    transition: .2s;
}
.button:hover {
    background-color: #d46103;
}

.main {
    background-image: url(/img/header/main.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER --------------------------- */

.header_container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;

    margin-right: 25px;
    transition: .2s;
}
.nav_item:hover {
    color: #FF7400;
}

.header_info {
    position: relative;
    color: #fff;
}
.header_info::before {
    display: block;
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    left: -20%;
    background-color: #fff;
}
.header_info-phone {
    display: flex;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}
.phone_img {
    margin-right: 8px;
}
.header_info-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.intro {
    width: 100%;
    color: #D67E35;
    text-align: center;
    padding: 204px 0 124px;
    display: flex;
    justify-content: start;
}

.intro_title {
    font-family: 'Tinos', serif;
    font-size: 50px;
}
.intro_subtitle {
    font-size: 80px;
    margin-bottom: 12px;
}
.intro_text {
    position: relative;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 21px;
}
.intro_text::after {
    display: block;
    position: absolute;
    content: '';
    width: 61px;
    height: 2px;
    background-color: #fff;
    left: 23%;
    bottom: 50%;
}
.intro_text::before {
    display: block;
    position: absolute;
    content: '';
    width: 61px;
    height: 2px;
    background-color: #fff;
    right: 23%;
    bottom: 50%;
}

.hamb_item {
    display: none;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;

}

@media (max-width: 1024px) {
    .header_nav, .header_cart, .header_info, .header_button {
        display: none;
    }
    .hamb_item {
        display: block;
    }
    .header_container {
        padding: 50px 10%;
        justify-content: space-between;
    }
    .intro {
        justify-content: center;
    }
}
@media (max-width: 515px) {
    .intro_text::after, .intro_text::before {
        display: none;
    }
    .intro {
        padding: 0 0 124px;
    }
}

/* cards------------------------------ */


.card_container {
    display: flex;
    justify-content: space-between;
}

.card_item {
    margin-top: -90px;
    width: 30%;
    max-width: 349px;
    min-height: 328px;
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: calc(20px + 6 * (100vw / 1280));
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    padding: 48px 50px 10px;
    background-color: #fff;
}
.card_title {
    padding-bottom: 20px;
}

.card_text {
    color: #656363;
}

@media (max-width: 768px) {
    .card_container {
        flex-direction: column;
        align-items: center;
        margin-top: -30px;
    }
    .card_item {
        width: 100%;
        margin: 0 0 14px;
    }
}

/* history */

.history {
    margin-top: 166px;
    padding-bottom: 200px;
}

.history_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.history_info {
    text-align: center;
    max-width: 444px;
}
.history_title {
    font-size: 54px;
    margin-bottom: 21px;
}
.history_text {
    font-size: 16px;
    margin-bottom: 50px;
    color: #656363;
    font-family: 'Open Sans', sans-serif;
}
.history_stat {
    display: flex;
    justify-content: space-around;
}
.item_num {
    font-size: 40px;
}
.item_name {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 768px) {
    .history_container {
        flex-direction: column;
        align-items: center;
    }
    .history_text {
        margin-bottom: 60px;
    }
    .history_stat {
        margin-bottom: 45px;
    }
}
@media (max-width: 620px) {
    .history_image {
        width: 100%;
        height: auto;
        max-width: 290px;
    }
}
@media (max-width: 425px) {
    .history_text {
        margin-bottom: 60px;
    }
    .history_stat {
        flex-direction: column;
        margin-bottom: 45px;
    }
    .info_item {
        margin-bottom: 22px;
    }
}

/* ORDER ----------------------- */

.order {
    background: url(/img/order/bg.jpg);
    padding: 80px 0 104px;
}

.order_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order_text {
    color: #d46103;
    font-size: 52px;
    font-family: 'Tinos', serif;
    margin-bottom: 20px;
}
.order_subtext {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 24px;
}

@media (max-width: 620px) {
    .order_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .order_subtext {
        margin-bottom: 40px;
    }
}


/* dishes */

.dishes {
    margin-bottom: 150px;
}

.dishes_container {
    display: flex;
    justify-content: space-between;
}

.dishes_image {
    margin-right: 30px;
}


.dishes_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dishes_item {
    font-size: 26px;
    display: flex;
    align-items: center;
}
.dishes_item-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dishes_item-container {
    display: flex;
    align-items: center;
}
.dishes_item-img {
    margin-right: 30px;
}
.box {
    display: flex;
    justify-content: space-between;
}

.dishes_name {
    position: relative;
}
.dishes_name::before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: none;
    border-top: 1px dashed black;
    left: 110%;
    bottom: 40%;
}
.dishes_item-info {
    display: flex;
}

.item-prev-img {
    margin-right: 30px;
}
@media (max-width: 425px) {
    .dishes_image {
        max-width: 320px;
        margin-right: 0;
    }
    .dishes_item-info {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .dishes_container {
        flex-direction: column;
    }
}
@media (max-width: 890px) {
    .dishes_container {
        flex-direction: column;
        align-items: center;
    }
    .dishes_image {
        margin-bottom: 50px;
    }
    .dishes_list {
        align-items: center;
    }
    .dishes_name::before {
        display: none;
    }
}


/* MENU ---------------------- */

.slider_line {
    display: flex;
    justify-content: space-between;
    
}
.slider_button {
    width: 40px;
    height: 40px;
    background-color: #d46103;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}
.slider_button:hover {
    background-color: #ad5003;
}
.menu {
    height: 100vh;
    background-image: url(/img/menu/menu.png);
}
.menu_title {
    padding: 100px 138px 0;
    color: #fff;
    font-size: 54px;
    text-align: center;
}
.menu_item {
    background-color: #fff;
    max-width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 80px 20px 20px;

}
.menu_img {
    margin-bottom: 22px;
    position: relative;
}
.menu_item-price {
    position: absolute;
    border-radius: 50%;
    background-color: #D67E34;
    width: 93px;
    height: 93px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #fff;
}
.menu_item-price span {
    display: block;
    color: #fff;
    font-size: 30px;
}
.menu_item-title {
    margin-bottom: 17px;
    font-size: 26px;
    font-family: 'Tinos', serif;
}
.menu_item-text {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 900px) {
    .slider_body {
        max-width: 290px;
        margin: 0 auto;
    }
    .slider_line {
        overflow: auto;
    }
}



/* FEEADBACK ---------------------------- */

.feedback {
    background-color: #E5E5E5;
}
.feedback_container {
    max-width: 920px;
    padding: 104px 0 139px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}
.feedback_text {
    margin-bottom: 50px;
    font-style: italic;
}
.feedback_man-photo {
    margin-bottom: 16px;
}
.feedback_man-role {
    margin-bottom: 9px;
    font-weight: 600;
}

/* GALLERY */

.gallery_container {
    display: flex;
    flex-direction: column;
}

.gallery_body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;

}

.gallery_box {
    width: 540px;
    display: flex;
    justify-content: space-between;
}
.gallery_box img {
    object-fit: cover;
}

@media (max-width: 1100px) {
    .gallery_body {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .gallery_box img {
        margin-bottom: 5%;
    }
}
@media (max-width: 620px) {
    .gallery_box {
        flex-direction: column;
    }
    .gallery_box {
        width: 100%;
        max-width: 290px;
        min-height: 274px;
        height: auto;
    }
    .gallery_box img {
        object-fit: contain;
    }
}




/* COOK */

.cook {
    padding-bottom: 100px;
}

.cook_body {
    display: flex;
    justify-content: space-between;
}

.cook_img {
    height: auto;
    width: 100%;
    max-width: 350px;
}

@media (max-width: 1100px) {
    .cook_body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* FOOTER */

.footer {
    height: 50vh;
    background-image: url(/img/footer/footer.png);
}